<h1>Моя корзина</h1>
<ng-template #emptyBasket$>
  <p>Пуста корзина.</p>
</ng-template>

  <button 
    *ngIf="(basketDishes$ | async)?.length"
    mat-button
    color="primary" 
    matTooltip="Очистити корзину"
    class="btn btn-primary"
    (click)="removeAllBasket()">
    <mat-icon>delete</mat-icon>
  </button>
  <div class="dishes-wrapper">
    <ng-container *ngFor="let dish of basketDishes$ | async">
      <app-dish-box
        [dish]="dish"
        [IsBasket]="true"
        [showRemoveButton]="true"
        (removedDishEvent)="removeFromBasket(dish)">
      </app-dish-box>
    </ng-container>
  </div>
