<h1>Моя корзина</h1>

<button *ngIf="basketDishes.length" class="btn btn-primary" (click)="removeAllBasket()">
  Очистити корзину
</button>

<div *ngIf="basketDishes.length; else emptyBasket" class="dishes-wrapper">
  <ng-container *ngFor="let dish of basketDishes">
    <app-dish-box       
      [dish]="dish" 
      [showRemoveButton]="true"
      (remove)="removeFromBasket(dish)"
      [IsBasket]="true"/>
  </ng-container>
</div>

<ng-template #emptyBasket>
  <p>Пуста корзина.</p>
</ng-template>
