<header>
    <a [routerLink]="['/']">
        <img class="logo" src="assets/images/logo.png" alt="Logo">
    </a>
        <select class="rest-list" (change)="onRestaurantChange($event)">
            <option value="" selected hidden>Ресторани</option>
            <option value="plesentville">Плезентвіль</option>
            <option value="mario">Маріо</option>
            <option value="tayko">Тайко</option>
        </select> 

    <div class="links">
        <button class="favorite" type="button" routerLink="/favorite" routerLinkActive="active">Улюблені страви</button>
        <button class="basket" type="button" routerLink="/basket" routerLinkActive="active">Корзина</button>
        <button class="login" type="button" routerLink="/login" routerLinkActive="active">Вхід</button>
    </div>
</header>