<header>
    <a [routerLink]="['/']">
        <img class="logo" src="assets/images/logo.png" alt="Logo">
    </a>
        <select class="rest-list" (change)="onRestaurantChange($event)">
            <option value="" selected hidden>Ресторани</option>
            <option value="plesentville">Плезентвіль</option>
            <option value="mario">Маріо</option>
            <option value="tayko">Тайко</option>
        </select> 

        <p>загальна сума: <strong>{{totalPrice$ | async | currency : "UAH:"}} </strong></p>

    <div class="links">
        <button
            mat-button
            color="primary" 
            matTooltip="Улюблені страви"
            class="favorite" 
            type="button" 
            routerLink="/favorite" 
            routerLinkActive="active">
            <mat-icon>favorite</mat-icon>
        </button>
        <button 
            mat-button
            color="primary"
            matTooltip="Кошик"
            class="basket" 
            type="button" 
            routerLink="/basket" 
            routerLinkActive="active">
            <mat-icon>shopping_basket</mat-icon>
        </button>
        <button class="login" type="button" routerLink="/login" routerLinkActive="active">Вхід</button>
    </div>
</header>