<header>
    <img class="logo" src="assets/images/logo.png" alt="Logo">
    
        <select class="rest-list">
            <option disabled selected hidden>Ресторани</option>
            <option>Валіко</option>
            <option>Asashi</option>
            <option>Дядя дьонер</option>
            <option>Pronto pizza</option>
            <option>Sultan</option>
        </select> 

    <div class="links">
        <button class="favorite" type="button">Улюблені страви</button>
        <button class="basket" type="button">Корзина</button>
    </div>
</header>