@use '../../../assets/styles/responsive';

.category-box {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    box-shadow: 0 0 2px;

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 100px;
        background-color: white;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s ease;
        box-shadow: 2px 2px 4px;

        &:hover {
            background-color: #4c9bf1b8;
        }

        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
            display: block;
        }

        .text-box {
            margin-top: 10px;
            font-size: 12px;
            color: black;
        }
    }
}