<div class="category-box">
    <a href="#" class="box">
        <img src="assets/images/burger.png"/>
        <span class="text-box">Бургери</span>
    </a>
    <a href="#" class="box">
        <img src="assets/images/pasta.png"/>
        <span class="text-box">Паста</span>
    </a>
    <a href="#" class="box">
        <img src="assets/images/pizza.png"/>
        <span class="text-box">Піца</span>
    </a>
    <a href="#" class="box">
        <img src="assets/images/salad.png"/>
        <span class="text-box">Салати</span>
    </a>
</div>
