@media (max-width: 1200px){
    header {
        padding: 15px 20px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 14px;
    }

    .logo {
        max-width: 45px;
    }

    .rest-list {
        width: 100vw;
        max-width: 250px;
    }

    .links {
        flex-direction: column;
        gap: 10px;
        width: 100vh;
        max-width: 250px;
    }
}