@media (max-width: 1200px){
    header {
        padding: 15px 20px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 14px;
    }

    .logo {
        max-width: 45px;
    }

    .rest-list {
        width: 100vw;
        max-width: 250px;
    }

    .links {
        flex-direction: column;
        gap: 10px;
        width: 100vh;
        max-width: 250px;
    }

    .category-box {
        padding: 15px 20px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 14px;
    }

    .box {
        align-items: center;
        width: 70px;
        height: 70px;
    }

    img {
        width: 40px;
        height: 40px;
    }

    .text-box {
        margin-top: 8px;
        font-size: 10px;
        color: black;
    }
}