<div *ngIf="dish" class="dish-box">
  <img class="dish-image" [src]="dish.imageURL" />

  <div class="dish-info">
    <span class="restaurant-label">{{ dish.restaurant }}</span>
    <h3 class="dish-name">{{ dish.name }}</h3>
    <p class="dish-description">{{ dish.description }}</p>

    <div class="dish-footer">
      <span class="dish-price">{{ dish.price | currency : "UAH:" }}</span>
      <h5 *ngIf="dishInBasket">Вже обрано</h5>
    <div>

    <ng-container *ngIf="IsBasket || dishInBasket">
      <button 
        class="action-button" 
        (click)="decreaseQuantity(dish)">-
      </button>
        
      <span 
        class="quantity">
        {{ quantityInBasket }}
      </span>

      <button 
        class="action-button" 
        (click)="increaseQuantity(dish)">+
      </button>
    </ng-container>

    <button
      *ngIf="showBasketButton && !dishInBasket" 
      class="action-button"   
      mat-button
      color="primary"
      matTooltip="Додати до кошика"
      (click)="addDishToBasket()">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>

    <button 
      *ngIf="showFavoriteButton" 
      mat-button
      color="primary"
      matTooltip="Додати в улюблене"
      class="action-button" 
      (click)="addDishToFavorite()">
      <mat-icon>favorite</mat-icon>
    </button>

    <button 
      *ngIf="showRemoveButton" 
      mat-button
      color="primary"
      matTooltip="Видалити"
      class="action-button" 
      (click)="removedDishEvent.emit(dish)">
      <mat-icon>delete</mat-icon>
    </button>

      </div>
    </div>
  </div>
</div>
