<div *ngIf="dish" class="dish-box">
  <img class="dish-image" [src]="dish.imageURL" />

  <div class="dish-info">
    <span class="restaurant-label">{{ dish.restaurant }}</span>
    <h3 class="dish-name">{{ dish.name }}</h3>
    <p class="dish-description">{{ dish.description }}</p>

    <div class="dish-footer">
      <span class="dish-price">{{ dish.price | currency : "UAH:" }}</span>

      <div>
        <div *ngIf="IsBasket" class="quantity-selector">
          <button class="action-button" (click)="decreaseQuantity()" >-</button>
          <span class="quantity">{{ quantityInBasket }}</span>
          <button class="action-button" (click)="increaceQuantity()">+</button>
        </div>
        <button *ngIf="showBasketButton" class="action-button" (click)="addDishToBasket()">До кошика</button>
        <button *ngIf="showFavoriteButton" class="action-button" (click)="addDishToFavorite()">Улюблене</button>
        <button *ngIf="showRemoveButton" class="action-button" (click)="removeDish()">Видалити</button>
      </div>
    </div>
  </div>
</div>
