<div *ngIf="dish" class="dish-box">
  <img class="dish-image" [src]="dish.imageURL" />

  <div class="dish-info">
    <div class="restaurant-label">{{ dish.restaurant }}</div>
    <h3 class="dish-name">{{ dish.name }}</h3>
    <p class="dish-description">{{ dish.description }}</p>

    <div class="dish-footer">
      <div class="dish-price">{{ dish.price | currency : "UAH:" }}</div>

      <div>
        <button class="action-button" (click)="addDishToBasket()">До кошика</button>
        <button class="action-button" (click)="addDishToFavorite()">Улюблене</button>
        <button class="action-button" *ngIf="showRemoveButton" (click)="removeDish()">Видалити</button>
      </div>
    </div>
  </div>
</div>
