<div class="dish-box">
    <img class="dish-image" src="https://salad.com.ua/sites/default/files/styles/1920x1080m/public/products/fon-pica-kopiya2.jpg?itok=T3u9eGJE"/>

    <div class="dish-info">
        <div class="restuarant-label-wraper">
            <h3 class="restuarant-label">mario</h3>
        </div>
        <h3 class="dish-name">Піца тест</h3>
        <p class="dish-description">опис піци</p>
        <div class="dish-footer">
            <span class="dish-price">120 грн</span>
            <button class="add-to-basket">Додати в кошик</button>
        </div>
    </div>
</div>

